body{
    background-color: #13131a;
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_header{
    background-color: #13131a;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    padding-top: 20px;
}

.div_main_header{
    border: 1px solid rgba(87, 244, 2, 0.489);
    border-radius: 30px;
}

.main_ul{
    display: flex;
}

.main_ul>li{
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    transition: .5s ease;
}

.main_ul>li>a{
    text-decoration: none;
    color: rgb(87, 244, 2);
}


.main_ul:last-child{
    margin-right: 30px;
}

.main_section{
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 100px;
    padding: 40px;
}



.main_ul>li:hover{
    background-color: rgba(87, 244, 2, 0.811); 
}

.main_ul>li:hover>a{
    color: white;
}